@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: "Noto Serif", serif;
  max-width: 1200px;
}
p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li {
  list-style-type: none;
  margin-left: 20px;
}
nav h1 {
  font-size: 3em;
}
nav p,
nav a {
  color: #777;
  font-weight: 300;
}

.home-animals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1frpx);
}
.carte-animal {
  text-align: center;
  width: 290px;
  margin: 40px 0;
  border: 2px solid crimson;
}

.carte-animal a:hover h3 {
  color: crimson;
  cursor: pointer;
}
.img-home {
  width: 250px;
}

/* animal details page styles */

.animal {
  display: flex;
}

.detail-img {
  width: 350px;
  margin: 2rem 0;
}
.animal-left h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}
.animal-left h3 {
  text-align: center;
}
.animal-right {
  width: 100%;
  text-align: center;
  margin: 1rem;
  padding: 2rem;
}

/* adoption form styles */
/* create styles */
.form-adoption {
  max-width: 400px;
  margin: 0 auto;
}
.form-adoption h2 {
  margin-bottom: 1.5rem;
}
.form-adoption input,
.form-adoption textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.form-adoption label {
  display: block;
  margin-top: 24px;
}
textarea {
  height: 120px;
}
.form-adoption button {
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}
